.UserPage {
    display: grid;
    grid-template-columns: 5px repeat(3, 1fr);
    grid-gap: 10px;

    .Headers {
        display: grid;
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
    }

    .UserRow {
        .Headers();

        grid-template-columns: inherit;

        &.Even {
            background: #a8a8a8;
        }
    }

    .UserData,
    .Headers > legend {
        padding: 5px;
    }
}
